* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #E4EAF2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    min-height: 520px;
    border-radius: 10px;
    box-shadow: 0px 10px 28px -3px rgba(0,0,0,0.1);
}

.card__image {
    height: 220px;
    overflow: hidden;
}
.card__image img {
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card__info {
    padding: 40px 35px 10px 35px;
    display: flex;
    flex-direction: column;
}

.card__info--title {
    padding-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.card__info--resume {
    padding-bottom: 25px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: hsl(214, 17%, 51%);
}

.card__info--profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__info--profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.card__info--profile div p {
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
.card__info--profile #author {
    padding-right: 35px;
}
.card__info--profile div span {
    font-size: 1.3rem;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}
.card__info--profile #share {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4EAF2;
    border-radius: 50%;
}
.card__info--profile #share img {
    width: 15px;
    height: 15px;
}

#share {
    border-style: none;
}

#share-mobile {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: hsl(217, 19%, 35%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#share-mobile div{
    color: hsl(212, 23%, 69%);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .7rem;
}
#share-mobile figure {
    display: flex;
    gap: 15px;
}
#share-mobile button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 50%;
    background-color: hsl(214, 17%, 51%);
    
}
#share-mobile button img {
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(320deg) brightness(106%) contrast(602%);
}

#share-mobile figure:hover,
button:hover {
    cursor: pointer;
}

@media  screen and (min-width: 1440px) {
    .card {
        height: 300px;
        width: 750px;
        display: flex;
    }

    .card__image {
        height: 300px;
        width: 650px;
    }
    .card__image img {
        height: 300px;
        width: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card__info {
        padding: 40px 40px 40px 40px;
    }

    .card__info--title {
        font-size: 1.3rem;
    }

    .card__info--resume {
        font-size: 1.4rem;
    }

    .card__info--profile #author {
        padding-right: 200px;
    }
}